model_weights
data
callbacks/eval/__pycache__/*
callbacks/eval/models/__pycache__/*
datasets/__pycache__/*
configs/__pycache__/*
logs/*
models/__pycache__/*
losses/__pycache__/*
losses/lpips/__pycache__/*
utils/__pycache__/*
callbacks/logger/__pycache__/*
toy_dataset/*
outputs/*
KyokugenCyclone.png
img_092.png
submit_gpu_job.sh
fig3/*
results/*
sed_images/*g
gt/*
test_images_fig3/*
pretrained_models/vgg16.pth
model_weights.zip
DIV2K_train_HR
a.txt
a.py
.ipynb_checkpoints/main-checkpoint.ipynb
DIV2K_valid_HR/*
DIV2K_valid_HR.zip
results_DIV2K_valid_HR/*
results_manga/*
results_set5/*
results_set14/*

results_urban100/*
results_old/*
tmp/*
Set14/*
urban100/*
Set5/*
main.html
dataset/*
